@import '../../../scss/variables.scss';

footer {
    background: $background;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $cinza-claro;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}