.card-mobile {
    display: none;
}

.table-desktop {
    display: none;
}

@media (max-width: 1024px){
    .card-mobile {
        display: block;
    }
}

@media (min-width: 1024px){
    .table-desktop {
        display: block;
    }
}

