<div class="container-wrap">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h4>Usuários</h4>
            <h6>Gerencie os usuários cadastrados na lista abaixo.</h6>
        </div>
        <div>
            <button type="button"
                    class="btn btn-primary tooltip-right">
                <span class="tooltip-text">Cadastrar Usuário</span>
                <i class="fas fa-user-plus mr-2"></i>
            </button>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ivan Villacorta</td>
                    <td>392.933.168-38</td>
                    <td>ivan_mv23@hotmail.com</td>
                    <td>Ações</td>
                </tr>
                <tr>
                    <td>Ivan Villacorta</td>
                    <td>392.933.168-38</td>
                    <td>ivan_mv23@hotmail.com</td>
                    <td>Ações</td>
                </tr>
                <tr>
                    <td>Ivan Villacorta</td>
                    <td>392.933.168-38</td>
                    <td>ivan_mv23@hotmail.com</td>
                    <td>Ações</td>
                </tr>
                <tr>
                    <td>Ivan Villacorta</td>
                    <td>392.933.168-38</td>
                    <td>ivan_mv23@hotmail.com</td>
                    <td>Ações</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>