.table {
    th {
        font-weight: bold;
        color: $cinza;
        font-size: 19px;
    }
    tr {
        border: none;
    }
    td {
        border: none;
        vertical-align: middle;
    }
}

.table > :not(caption) > * > *{
    border-bottom-width: 0;
}