@font-face {
    font-family: "San Francisco";
    src: url('../assets/fonts/SF-UI-Display-Regular.otf');
  }

  :root {
      background: $background;
  }

  body {
    font-family: 'San Francisco';
  }